<hr />

<small>
    Strona tworzona przez <a href="index.php?p=credits.html">Grześka11 (i innych)</a>, 2018-2020
    <br />
    Zawartość jest dostępna na licencji <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" class="external">CC BY-SA 4.0</a>
    <br />
    Wszystko znajdziesz na <a href="https://gitlab.com/starypc/legacy" target="_blank" class="external">naszym repozytorium Git</a>
</small>
