<a href="index.php"><h1>stary.pc.pl</h1></a>
<p>Strona domowa staregopc</p>

<hr />

<a href="index.php">Strona główna</a>
<a href="index.php?p=olds.html">Nieaktualności</a>
<a href="index.php?p=status.php">Status serwera</a>
<a href="index.php?p=contact.html">Kontakt</a>
<br />

<b>Strony użytkowników:</b>

<a href="https://grzesiek11.stary.pc.pl" target="_blank" class="external">Grzesiek11</a>
<a href="https://tadeln.stary.pc.pl" target="_blank" class="external">TadeLn</a>
<br />

<b>Usługi:</b>

<a href="https://shell.stary.pc.pl" target="_blank" class="external">Shell</a>
<a href="https://cloud.stary.pc.pl" target="_blank" class="external">Nextcloud</a>

<hr />
