<h2>Nieaktualności</h2>

<h3>Z pierwszej chwili!</h3>

<h4>Przenosimy się! <code>starypc.dynu.net</code> to od teraz <code>stary.pc.pl</code></h4>

<p>
    Kupiłem nową domenę - <code>stary.pc.pl</code>. Od teraz to ona reprezentuje nas w internecie! Ma to kilka benefitów:
</p>

<ul>
    <li>Jest ładniejsza - końcówka .dynu.net nie jest zbyt stylowa...</li>
    <li>Jest krótsza - spędzisz o jakieś 0.5 sekundy mniej na wpisywaniu adresu. Możesz je później spędzić na czytaniu Nieaktualności.</li>
    <li>Pozwala mi na 100% kontrolę nad strefą DNS - oznacza to m.in. że w przyszłości będę mógł zrobić serwer e-mail. Jej!</li>
</ul>

<p>
    Chcę jeszcze powiedzieć, że wszystkie stare linki wciąż będą działać - stara domena jest przekierowana do tej nowej.
</p>

-- Grzesiek11, 11.09.2020 (1594479105)

<h3>Archiwum</h3>
